body {
background : gold;
font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size : large;
text-emphasis-color :aqua;
text-decoration : dashed;
}
table {
    border : groove;
    border-width : 10px;
}
table-hover {
    background-color : aqua;
}
